@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    @*<link rel="stylesheet" type="text/css" href="~/css/card.css" />
    <script src="~/js/card.js"></script>*@
</head>

<body>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

</body>
</html>