@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Index</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="~/index/css/index.css" />
    <link rel="stylesheet" type="text/css" href="~/index/css/card.css" />
    <script src="https://kit.fontawesome.com/e962381af3.js" crossorigin="anonymous"></script>
</head>
<body class="homepage is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header">

            <!-- Inner -->
            <div class="inner">
                <header>
                    <h1><a id="logo">GigaBruh</a></h1>
                    <hr />
                    <p>Програмне забезпечення для вас</p>
                </header>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="~/Home/Privacy">Privacy</a></li>
                    <li><a href="~/Auth/Login">Log in</a></li>
                </ul>
            </nav>
        </div>

        <!-- Banner -->
        <section id="banner">
            <header>
                <h2>Привіт, ми <strong>GigaBruh</strong>.</h2>
                <p>
                    Ми сворюємо програмне забезпечення для Вас. <br />
                    В своїй новій програмі ми застосували наступні технології
                </p>
            </header>
        </section>

        <!-- Carousel -->
        <section class="carousel">
            <div class="reel">

                <article>
                    <a href="https://docs.microsoft.com/ru-ru/azure/azure-sql/database/design-first-database-csharp-tutorial" target="_blank" class="image featured"><img src="images/Azure.png" alt="" /></a>
                    <header>
                        <h3><a href="https://docs.microsoft.com/ru-ru/azure/azure-sql/database/design-first-database-csharp-tutorial" target="_blank">SQL Azure DB</a></h3>
                    </header>
                    <p>Надійне сховище ваших даних в хмарному сховищі.</p>
                </article>

                <article>
                    <a href="https://metanit.com/sharp/adonet/" target="_blank" class="image featured"><img src="images/Ado.png" alt="" /></a>
                    <header>
                        <h3><a href="https://metanit.com/sharp/adonet/" target="_blank">ADO.NET</a></h3>
                    </header>
                    <p>Найкращий інструмент для роботи з базою даних.</p>
                </article>

                <article>
                    <a href="https://docs.microsoft.com/ru-ru/aspnet/core/tutorials/first-web-api?view=aspnetcore-6.0&tabs=visual-studio" target="_blank" class="image featured"><img src="images/API.png" alt="" /></a>
                    <header>
                        <h3><a href="https://docs.microsoft.com/ru-ru/aspnet/core/tutorials/publish-to-azure-api-management-using-vs?view=aspnetcore-6.0" target="_blank">ASP.NET core Rest API</a></h3>
                    </header>
                    <p>Швидка та безпечна обробка ваших даних.</p>
                </article>

                <article>
                    <a href="https://habr.com/ru/post/647259/" class="image featured" target="_blank"><img src="images/WPF.png" alt="" /></a>
                    <header>
                        <h3><a href="https://habr.com/ru/post/647259/" target="_blank">WPF.NET core</a></h3>
                    </header>
                    <p>Найкращий інструмент для реалізації десктопного додатку на С#.</p>
                </article>

                <article>
                    <a href="https://metanit.com/sharp/aspnet5/1.1.php" class="image featured" target="_blank"><img src="images/ASP.png" alt="" /></a>
                    <header>
                        <h3><a href="https://metanit.com/sharp/aspnet5/1.1.php" target="_blank">ASP.NET core MVC</a></h3>
                    </header>
                    <p>Найкращий інструмент для реалізації сайту на С#.</p>
                </article>
            </div>
        </section>

        <!-- Main -->
        <div class="wrapper style2">
            <article id="main" class="container special">
                <img src="images/TaskScheduler.png" alt="" class="image featured" />
                <header>
                    <h2>Планувальник завдань</h2>
                    <p>
                        Наш новий додаток для ефективного використання Вашого часу
                    </p>
                </header>
                <p>
                    TaskScheduler зовсім новий підхід до планування Вашого часу.
                    Ви можете користуватися ним всюди, завдяки нашому веб-застосунку,
                    або вивчіть ваші завдання детальніше завдяки нашій програмі для Вашого 
                    персонального ПК.
                </p>
                <footer>
                    <a href="https://drive.google.com/uc?export=download&id=1HR4qtUW8eHerG9Q2MCtyQOidb6w1SI0t"
                       download class="button">Завантажити</a>
                </footer>
            </article>
        </div>

        <!-- Features -->
        <div class="wrapper style1">

            <section id="features" class="container special">
                <header>
                    <h2>Основні принципи нашого програмного забезпечення</h2>
                </header>
                <div class="row">
                    <article class="col-4 col-12-mobile special">
                        <img class="image featured" src="images/Security.png" alt="" />
                        <header>
                            <h3>Захищеність</h3>
                        </header>
                        <p>
                            Завдяки використанню хмарного сховища та додаткового шифрування при зберегіння та обробці,
                            Ваші дані надійно захищені.
                        </p>
                    </article>
                    <article class="col-4 col-12-mobile special">
                        <img class="image featured" src="images/Reliability.png" alt="" />
                        <header>
                            <h3>Надійність</h3>
                        </header>
                        <p>
                            Ми постійно працюємо над покращенням нашого додатку, і прислуховуємося до своїх клієнтів,
                            тому наші продукти надійні
                        </p>
                    </article>
                    <article class="col-4 col-12-mobile special">
                        <img class="image featured" src="images/Confidentiality.png" alt="" />
                        <header>
                            <h3>Конфіденційність</h3>
                        </header>
                        <p>
                            Ваша інформація залишається приватною. Наша політика конфіденційності забезпечує зберігання
                            Ваших даних в повній секретності.
                        </p>
                    </article>
                </div>
            </section>
        </div>

        <!-- Team -->
        <div class="wrapper style1">

            <section id="features" class="container special">
                <header>
                    <h2>Наша команда</h2>
                </header>
                <div class="row">
                    <article class="col-4 col-12-mobile special">
                        <div class="wrap">
                            <div class="card front-face">
                                <img src="~/images/Dan.png">
                            </div>
                            <div class="card back-face">
                                <img src="~/images/Dan.png">
                                <div class="info">
                                    <div class="title">Dan Sobolev </div>
                                    <h3>Vinnytsia</h3>
                                    <p>User interface designer and<br> C# developer</p>
                                </div>
                                <div class="skills">
                                    <h3>Skills</h3>
                                    <ul>
                                        <li>UI / UX</li>
                                        <li>C#</li>
                                        <li>ASP</li>
                                        <li>WPF</li>
                                    </ul>
                                </div>
                                <div class="social">
                                    <ul>
                                        <li><a href="https://www.instagram.com/danya.sobolev_123/" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="https://github.com/DanSoboliev" target="_blank" class="git"><i class="fab fa-github"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-4 col-12-mobile special">
                        <div class="wrap">
                            <div class="card front-face">
                                <img src="~/images/SAM_mk.jpg">
                            </div>
                            <div class="card back-face">
                                <img src="~/images/SAM_mk.jpg">
                                <div class="info">
                                    <div class="title">Andrii Stets  </div>
                                    <h3>Vinnytsia</h3>
                                    <p>User interface designer and<br> C# developer</p>
                                </div>
                                <div class="skills">
                                    <h3>Skills</h3>
                                    <ul>
                                        <li>UI / UX</li>
                                        <li>C#</li>
                                        <li>ASP</li>
                                        <li>Algorithms</li>
                                        <li>Patterns</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-4 col-12-mobile special">
                        <div class="wrap">
                            <div class="card front-face">
                                <img src="~/images/Bohdan.jpg">
                            </div>
                            <div class="card back-face">
                                <img src="~/images/Bohdan.jpg">
                                <div class="info">
                                    <div class="title">Bohdan Fedyshen  </div>
                                    <h3>Vinnytsia</h3>
                                    <p>User interface designer and<br> C# developer</p>
                                </div>
                                <div class="skills">
                                    <h3>Skills</h3>
                                    <ul>
                                        <li>UI / UX</li>
                                        <li>C#</li>
                                        <li>ASP</li>
                                        <li>HTML & CSS</li>
                                    </ul>
                                </div>
                                <div class="social">
                                    <ul>
                                        <li><a href="#" class="lab"><i class="fab fa-gitlab"></i></a></li>
                                        <li><a href="#" class="git"><i class="fab fa-github"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>

                </div>
            </section>
        </div>

        <!-- Footer -->
        <div id="footer">
            <div class="container">
                <div class="col-12">
                    <!-- Copyright -->
                    <div class="copyright">
                        <ul class="menu">
                            <li>&copy; TaskScheduler. Всі права захищені.</li>
                            <li>Ліцензійна згода: <a href="~/Home/Privacy">Детально</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/index/js/jquery.min.js"></script>
    <script src="~/index/js/jquery.dropotron.min.js"></script>
    <script src="~/index/js/jquery.scrolly.min.js"></script>
    <script src="~/index/js/jquery.scrollex.min.js"></script>
    <script src="~/index/js/browser.min.js"></script>
    <script src="~/index/js/breakpoints.min.js"></script>
    <script src="~/index/js/util.js"></script>
    <script src="~/index/js//main.js"></script>
</body>
</html>