@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Index</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="~/index/css/index.css" />
    <script src="https://kit.fontawesome.com/e962381af3.js" crossorigin="anonymous"></script>
</head>
<body class="homepage is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header">

            <!-- Inner -->
            <div class="inner">
                <header>
                    <h1><a id="logo">GigaBruh</a></h1>
                    <hr />
                    <p>Privacy policy</p>
                </header>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="~/Home/Index">Головна</a></li>
                    <li><a href="~/Auth/Login">Увійти</a></li>
                </ul>
            </nav>
        </div>

        <!-- Banner -->
        <section id="banner">
            <header>
                <h2>Привіт, ми <strong>GigaBruh</strong>.</h2>
                <p>
                    І це наша політика конфіденційності.<br />
                    Перед використанням наших продуктів, просимо уважно ознайомитись
                </p>
            </header>
        </section>

        <!-- Main -->
        <div class="wrapper style2">

            <article id="main" class="container special">
                <p class="p">
                    <center><strong>КОРИСТУВАЦЬКА УГОДА</strong></center><br />

                    УВАГА! ЯКЩО ВИ ПОЧИНАЄТЕ ПРОЦЕС ВИКОРИСТАННЯ ТА/АБО ЗАВАНТАЖУЄТЕ, КОПІЮЄТЕ КЛІЄНТСКУ ЧАСТИНУ ДОДАТКУ І/АБО ВИКОРИСТОВУЄТЕ ДОДАТОК І/АБО ВЕБ-САЙТ ІНШИМ СПОСОБОМ, ТО ЦИМ ВИ ПІДТВЕРДЖУЄТЕ СВОЮ ЗГОДУ З УМОВАМИ КОРИСТУВАЦЬКОЇ УГОДИ БЕЗ БУДЬ-ЯКИХ ОБМЕЖЕНЬ.
                    У випадку, якщо Вам (Користувачеві) відповідно до законів Вашої держави заборонено отримувати
                    Дана користувальницька угода (далі – «Угода») регулює відносини між GigaBruh, іменований у подальшому «Правовласник», та фізичною особою – Користувачем сервісів (далі – «Користувач»).<br />

                    <ol class="ol">
                        <li>Загальні положення.</li>
                        <li>
                            Предмет Угоди
                            <ul class="ul">
                                <li class="li">2.2. Обов'язки Правовласника.</li>
                                <li class="li">2.3. Права Правовласника.</li>
                                <li class="li">2.4. Обмеження відповідальності Правовласника.</li>
                                <li class="li">2.5. Права та Обов'язки Користувача.</li>
                                <li class="li">2.6. Додаткові послуги.</li>
                                <li class="li">2.7. Заключні положення.</li>
                            </ul>
                        </li>
                    </ol>
                </p>
            </article>
        </div>


        <!-- Footer -->
        <div id="footer">
            <div class="container">
                <div class="col-12">

                    <!-- Copyright -->
                    <div class="copyright">
                        <ul class="menu">
                            <li>&copy; TaskScheduler. Всі права захищені.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
   <script src="~/index/js/jquery.min.js"></script>
    <script src="~/index/js/jquery.dropotron.min.js"></script>
    <script src="~/index/js/jquery.scrolly.min.js"></script>
    <script src="~/index/js/jquery.scrollex.min.js"></script>
    <script src="~/index/js/browser.min.js"></script>
    <script src="~/index/js/breakpoints.min.js"></script>
    <script src="~/index/js/util.js"></script>
    <script src="~/index/js//main.js"></script>
</body>
</html>