@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.a-create {
    display: flex;
    width: 160px;
    height: 50px;
    padding: 0;
    background: #304FFE;
    border: none;
    outline: none;
    border-radius: 4px;
    overflow: hidden;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

    a.create:hover {
        background: #3D5AFE;
    }

        .a-create:hover .a-create__icon {
            background: transparent;
            transform: rotate(180deg);
            transition: 0.5s linear;
        }

    .a-edit:active {
        background: #651FFF;
    }

.a-create__text {
    display: inline-flex;
    align-items: center;
    padding: 0 42px;
    color: #fff;
    height: 100%;
    width: 70%;
}

.a-create__icon {
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    color: #fff;
    height: 100%;
    width: 30%;
    transition: 0.5s;
    background: transparent;
}

.a-create__icon {
    font-size: 1.5em;
    background: transparent;
}
