@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url("https://kit.fontawesome.com/e962381af3.js");

.wrap {
    height: 600px;
    width: 370px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

    .wrap .card {
        position: absolute;
        height: 100%;
        width: 100%;
        background: #fff;
        border-radius: 10px;
        transform: translateY(0deg);
        transform-style: preserve-3d;
        backface-visibility: hidden;
        box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
        transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
    }

    .wrap:hover > .front-face {
        transform: rotateY(-180deg);
    }

    .wrap .card img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .wrap .back-face {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 10px;
        justify-content: space-evenly;
        flex-direction: column;
        border: 3px solid #1cc7d0;
        transform: rotateY(180deg);
    }

    .wrap:hover > .back-face {
        transform: rotateY(0deg);
    }

    .wrap .back-face img {
        height: 175px;
        width: 175px;
        padding: 5px;
        border-radius: 50%;
        background: linear-gradient(375deg, #1cc7d0, #2ede98);
    }

    .wrap .back-face .info {
        text-align: center;
    }

.back-face .info .title {
    font-size: 30px;
    font-weight: 500;
}

.back-face ul {
    display: flex;
}

    .back-face ul a {
        display: block;
        height: 40px;
        width: 40px;
        color: #fff;
        text-align: center;
        margin: 0 5px;
        line-height: 38px;
        border: 2px solid #333;
        border-radius: 50%;
        transition: all 0.5s ease;
    }

        .back-face ul a:hover {
            color: #1cc7d0;
            border-color: #1cc7d0;
            background: linear-gradient(375deg, transparent, transparent);
        }

.back-face li {
    list-style-type: none;
}

.skills {
    background-color: #ffffff;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
}

    .skills ul {
        list-style-type: none;
        margin: 5px;
        padding: 5px;
    }

        .skills ul li {
            display: inline-block;
            font-size: 18px;
            margin: 0 7px 7px 0;
            padding: 3px;
        }

    .skills h3 {
        text-align: center;
        font-size: 22px;
        padding: 12px;
    }

.info p {
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

.social {
    text-align: center;
    padding: 5px;
    margin-top: 5px;
}

    .social ul {
        list-style-type: none;
        margin: 5px;
        padding: 5px;
    }

        .social ul li {
            display: inline-block;
            font-size: 18px;
            margin: 0 7px 7px 0;
            padding: 3px;
        }

.instagram {
    background: linear-gradient(375deg, #feda75, #4f5bd5);
}

.git {
    background: linear-gradient(375deg, #090979, #020024);
}

.lab {
    background: linear-gradient(375deg, #554488, #fca326);
}
