@model TaskSchedulerClient.Models.RegisterModel


				<form asp-action="Register">
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="UserName" placeholder="Name" required="">
                    <span asp-validation-for="UserName" class="text-danger"></span>

					<input type="email" name="UserEmail" placeholder="your@gmail.com" required="">
                    <span asp-validation-for="UserEmail" class="text-danger"></span>

					<input type="password" name="UserPassword" placeholder="Password" required="">
                    <span asp-validation-for="UserPassword" class="text-danger"></span>

                   @* <input type="password" name="ConfirmPassword" placeholder="ConfirmPassword" required="" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>*@

					<button>Sign up</button>
				</form>