@model TaskSchedulerClient.Models.RegisterModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/profilePage/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/css/profilePage/assets/css/style.css" />
    <link rel="stylesheet" href="~/forms/forms.css" />
</head>
<body>
    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <a href="~/Home/Index" class="signup-image-link"><i class="mdi mdi-keyboard-backspace"></i> На головну</a>
                        <figure><img src="~/images/signup-image.jpg" alt="sing up image"></figure>
                        <a href="~/Auth/Login" class="signup-image-link"><i class="mdi mdi-keyboard-backspace"></i> Назад</a>
                    </div>

                    <div class="signup-form align-self-center justify-content-center">
                        <h2 class="form-title text-center">Реєстрація</h2>
                        <form asp-action="Register" class="register-form">
                            <div class="form-group">
                                <label for="username"><i class="mdi mdi-account material-icons-name"></i></label>
                                <input type="text" id="username" name="UserName" placeholder="UserName" />
                                <span asp-validation-for="UserName"></span>
                            </div>
                            <div class="form-group">
                                <label for="userEmail"><i class="mdi mdi-email-outline material-icons-name"></i></label>
                                <input type="text" id="userEmail" name="UserEmail" placeholder="your.mail@gmail.com" />
                                <span asp-validation-for="UserEmail"></span>
                            </div>
                            <div class="form-group">
                                <label for="password" toggle="#password" class="mdi mdi-eye toggle-password"></label>
                                <input type="password" id="password" name="UserPassword" placeholder="Password" />
                                <span asp-validation-for="UserPassword"></span>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword" toggle="#confirmPassword" class="mdi mdi-eye toggle-password"></label>
                                <input type="password" id="confirmPassword" name="ConfirmPassword" placeholder="ConfirmPassword" />
                                <span asp-validation-for="ConfirmPassword"></span>
                            </div>
                            <div  class="text-center p-3">
                                <button type="submit" class="btn btn-gradient-info btn-rounded btn-fw">Зареєструватись</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="~/forms/js/jquery.min.js"></script>
    <script src="~/forms/js/forms.js"></script>

</body>
</html>